.container {
    position: relative;
    padding: 2rem;
    margin-left: 10%;
    margin-top: 10rem;
    width: 100%;
    animation: shadowMovement 2s infinite alternate;
  }
  
  @keyframes shadowMovement {
    0% {
      -webkit-box-shadow: 0px -2px 26px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px -2px 26px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px -2px 26px 0px #3B82F6;
    }
    100% {
      -webkit-box-shadow: 0px -2px 26px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px -2px 26px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px -2px 26px 0px rgba(187, 187, 225, 0.75);
    }
  }
  
.skills-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (width <= 850px){
    .container{
        margin-left: 0;
    }
    .skills-list{
        grid-template-columns: repeat(2, 1fr);
    }
}