<section class="container">
    <div class="container__main">
        <h1>About me:</h1>
        <p>
            Hy! I'm Tomas Rave, a full-stack developer who loves creating interactive applications. I'm passionate about backend development and constantly strive to learn new technologies to enhance my skills.
        </p>
        <p>
            I also work as the manager of the vehicle inspection area for food transportation, where I create and maintain the database for the department.
        </p>
        <h4>
            My studies:
        </h4>
        <ul>
            <li>Backend developer career at Coderhouse from 7/3/23 to 7/3/24</li>
            <li>Angular.js developer at Udemy</li>
            <li>Web developer junior at Hilet from 2/3/22 to 30/6/22</li>
        </ul>
        <h4>
            My skills:
        </h4>
        <ul class="skills-list">
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>Angular.JS</li>
            <li>Node.JS</li>
            <li>Express.JS</li>
            <li>MongoDB</li>
            <li>MySQL - SQL Server</li>
            <li>Git</li>
            <li>Postman</li>
        </ul>
    </div>
</section>