.container {
  position: relative;
  padding: 2rem;
  margin-left: 10%;
  margin-top: 10rem;
  width: 100%;
  animation: shadowMovement 2s infinite alternate;
}
@keyframes shadowMovement {
  0% {
    -webkit-box-shadow: 0px -2px 26px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -2px 26px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -2px 26px 0px #3b82f6;
  }
  100% {
    -webkit-box-shadow: 0px -2px 26px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -2px 26px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -2px 26px 0px rgba(187, 187, 225, 0.75);
  }
}
.proyect__p {
  margin-bottom: 2rem;
}
.proyect__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
img {
  width: 100%;
}
.card {
  border: 1px #3b82f6 solid;
  border-radius: 5px;
  padding: 2rem;
  text-align: center;
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 60%, rgba(19,19,85,1) 95%);
}
@media (width <= 650px){
  .proyect__container{
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (width <= 850px){
    .container{
        margin-left: 0;
    }
}